
@{
    ViewData["Title"] = "NewPatientRegistration";
}

<h2><u>NewPatientRegistration</u></h2>


<div class="row">
    <label for="Name" class="col-md-2 control-label">First Name:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Last Name:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Account No:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Prefix:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Suffix:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">MI :</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>

<div class="row">
    <label for="Name" class="col-md-2 control-label">Previous Name:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Sex:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>
<div class="row">
    <label for="Address1" class="col-md-2 control-label">SSN:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
    <label for="Address1" class="col-md-2 control-label">Resp Party:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>

<div class="row">
    <label for="Name" class="col-md-2 control-label">Address 1:</label>
    <div class="form-group col-md-8" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>
</div>
<div class="row">
    <label for="Name" class="col-md-2 control-label">Address 2:</label>
    <div class="form-group col-md-8" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>
</div>
<div class="row">
    <label for="Address1" class="col-md-2 control-label">City:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">State:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Zip:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Country:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Home Phone:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Cell Phone:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Work Phone:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>


    <label for="Address1" class="col-md-2 control-label">Ext:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Email:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">EmergencyContact:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Account Balance:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
    <label for="Address1" class="col-md-2 control-label">PT Balance:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Next appt:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="date" class="form-control" id="Address1" />
    </div>
    <label for="Address1" class="col-md-2 control-label">Last appt:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="date" class="form-control" id="Address1" />
    </div>
</div>



