
@{
    ViewData["Title"] = "ProviderAddress";
}

<h4><u>Provider Address</u></h4>
<div class="row">
    <label for="Name" class="col-md-2 control-label">First Name:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Last Name:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Middle Name:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Prefix:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Suffix:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Degree/Credentials:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>

    <div class="row">
        <label for="Name" class="col-md-2 control-label">Address 1:</label>
        <div class="form-group col-md-8" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label">Address 2:</label>
        <div class="form-group col-md-8" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>
    </div>
    <div class="row">
        <label for="Name" class="col-md-2 control-label">City:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Name" />
        </div>

        <label for="Address1" class="col-md-2 control-label">State:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">Zip:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
        <label for="Address1" class="col-md-2 control-label">Print Name:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>
    </div>
    <div class="row">
        <label for="Address1" class="col-md-2 control-label">DOB:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Fax:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Tel:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Mobile:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Email:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Primary Service Location:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Social Security:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>


        <label for="Address1" class="col-md-2 control-label">Taxanomy Code:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">Speciality:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">DEA Num:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="text" class="form-control" id="Address1" />
        </div>

        <label for="Address1" class="col-md-2 control-label">DEA StartDate:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Address1" />
        </div>
        <label for="Address1" class="col-md-2 control-label">DEA EndDate:</label>
        <div class="form-group col-md-3" style="margin-left:05px">
            <input type="date" class="form-control" id="Address1" />
        </div>
    </div>

