
@{
    ViewData["Title"] = "ProviderID";
}

<h4><u>ProviderID</u></h4>



<div class="row">
    <label for="Name" class="col-md-2 control-label">Provider TaxID:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>

    <label for="Address1" class="col-md-2 control-label">NPI:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">UPIN:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">EMC ProviderID:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Organization Type:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Billing Facility:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>

<div class="row">
    <label for="Name" class="col-md-2 control-label">MediCare GRP:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Name" />
    </div>

    <label for="Address1" class="col-md-2 control-label">MediCaid GRP:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>
<div class="row">
    <label for="Address1" class="col-md-2 control-label">Mammography Cert No:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
    <label for="Address1" class="col-md-2 control-label">Champus GRP:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>
</div>
<div class="row">
    <label for="Address1" class="col-md-2 control-label">BlueShield GRP:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Provider/TaxID:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Speciality License:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">Anesthesia Licence:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">DPS#/CTP#:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">State License:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="text" class="form-control" id="Address1" />
    </div>

    <label for="Address1" class="col-md-2 control-label">License Active Date:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="date" class="form-control" id="Address1" />
    </div>


    <label for="Address1" class="col-md-2 control-label">License Term Date:</label>
    <div class="form-group col-md-3" style="margin-left:05px">
        <input type="date" class="form-control" id="Address1" />
    </div>
</div>



